{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}

<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
    <div class="jumbotron">
      <h1>Youtube Comment Spam Filter</h1>
      <div class="column is-offset-0"> <label class="label is-danger">Please make payment to perform prediction</label> </div>
      <form action="{{ url_for('pay') }}" method="POST">
      <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ pub_key }}"
          data-amount="100"
          data-name="Spam Filter"
          data-description="Perform a prediction for only $1.00"
          data-locale="auto">
        </script>
     </form>
    </div>
    </div>
  </div>
</section>

<footer class="footer">
  <p>&copy; Mubilize 2019</p>
</footer>


{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
